@font-face {
  font-family: 'Programme';
  src: url('../font/Programme-Light.eot');
  src: local('Programme Light'), local('Programme-Light'),
    url('../font/Programme-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Programme-Light.woff2') format('woff2'),
    url('../font/Programme-Light.woff') format('woff'),
    url('../font/Programme-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: 'Programme';
  src: url('../font/Programme-Bold.eot');
  src: local('Programme Bold'), local('Programme-Bold'),
    url('../font/Programme-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Programme-Bold.wof2') format('woff2'),
    url('../font/Programme-Bold.woff') format('woff'),
    url('../font/Programme-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Programme';
  src: url('../font/Programme-Regular.eot');
  src: local('Programme'), local('Programme-Regular'),
    url('../font/Programme-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Programme-Regular.woff2') format('woff2'),
    url('../font/Programme-Regular.woff') format('woff'),
    url('../font/Programme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --entry-alpha: 0.75;
}

body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-size: 100%;
}

.lyrics-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.lyrics {
  position: relative;
  display: inline;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: #000000;
  line-height: 30px;
}

.spanhover {
  cursor: auto;
  background: #ccc;
}

.popup {
  position: absolute;
  display: none;
  padding: 10px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 280px;
  font-size: 14pt;
  color: #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #eee;
  z-index: 10;
}

.explanation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 20px;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: #000000;
}

.song-metadata {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#F1645B, #C21F32);
  min-height: 250px;
  align-items: center;
  justify-content: center;
}

.song-metadata-text {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.album-art {
  display: block;
  width: 100%;
  height: auto;
}

.song-title {
  font-family: Programme, Arial, sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: #fff;
}

.song-artist {
  font-family: Programme, Arial, sans-serif;
  font-size: 24pt;
  font-weight: 300;
  color: #fff;
}

.song-track {
  font-family: Programme, Arial, sans-serif;
  font-size: 14pt;
  font-weight: 100;
  color: #fff;
}

.header {
  /* width: 100%;
  height: 88px;
  background: #202020; */
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  background: rgb(255, 255, 100);
}

.footer {
  height: 150px;
}

.header-logo {
  position: absolute;
  min-width: 150px;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subheader {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 60px;
  background: #000000;
}

.subheader-title {
  font-family: Programme, Arial, sans-serif;
  font-size: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  text-align: center;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

@media only screen and (min-width: 500px) {
  .song-metadata {
    flex-direction: row;
  }

  .song-metadata-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .album-art {
    width: 200px;
    height: 200px;
  }
  
  .popup {
    max-width: 450px;
  }
}
